<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <center><h1>Bienvenue chez Cooodit !</h1></center>
    <h3>Hello <%= @user.first_name %> !</h3>
    </center>
     <p>Nous somme à votre écoute </p>
    <p>+33 (0) 667682693</p>
  </body>
</html>