<!-- hero -->
<section class="hero hero-with-header ">
  <div class="image image-overlay image-zoom" style="background-image:linear-gradient( to right bottom,
          rgba(0, 0, 0, 0.3),
          #161c1d  ),url(../../assets/cooodit/cover-2.jpg)"></div>
      <div class="container ">
      
        <div class="row justify-content-center">
          <div class="col-md-8">
          </div>
        </div>
      </div>    
    </section>
    <!-- / hero -->
<!-- cover -->
<section class="bg-light">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-4 pr-md-4 text-center text-md-left">
        <h2 class="h1" ><b>Nos</b> Campus 👉</h2>
      </div>
      <div class="col-md-8">
        <div class="row gutter-2">
          <div class="col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-center">
            <div class="card card-price rising">
              <div class="card-body">
                <i class="svg-icon w-25 fs-60">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                          <g>
                            <circle fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" cx="32" cy="19.001" r="4"/>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M45,21.023C44.968,13.276,39.181,7,32,7
                              s-13,6.276-13,14.023C19,31.046,31.979,47,31.979,47S45.043,31.046,45,21.023z"/>
                          </g>
                          <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="21,37 12,37 1,57 32,57 63,57 52,37 43,37 
                            "/>
                          </svg>
                </i>
                <h5 class="card-title">Pontoise </h5>
                <ul class="list-group list-group-minimal text-muted">
                  <li class="list-group-item">✨ Ateliers Hebdomadaires</li>
                  <li class="list-group-item">✨ Ateliers découverte</li>
                  <li class="list-group-item">✨ Bootcamps & Stages</li>
                </ul>
              </div>
              <a href="" class="card-footer">
                <strong class="card-price">Pontoise</strong>
              </a>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-delay="250">
            <div class="card card-price rising">
              <div class="card-body">
                <i class="svg-icon w-25 fs-60">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
                          <g>
                            <circle fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" cx="32" cy="19.001" r="4"/>
                            <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M45,21.023C44.968,13.276,39.181,7,32,7
                              s-13,6.276-13,14.023C19,31.046,31.979,47,31.979,47S45.043,31.046,45,21.023z"/>
                          </g>
                          <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="21,37 12,37 1,57 32,57 63,57 52,37 43,37 
                            "/>
                          </svg>
                </i>
                <h5 class="card-title">Cergy - Ouverture prochaine</h5>
                <ul class="list-group list-group-minimal text-muted">
                  <li class="list-group-item">✨ Ateliers Hebdomadaires</li>
                  <li class="list-group-item">✨ Bootcamps & Stages</li>
                  <li class="list-group-item">✨ Conférences</li>
                </ul>
              </div>
              <a href="" class="card-footer">
                <strong class="card-price">Cergy</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / cover -->