<!-- hero -->
<section class="hero hero-with-header pattern bg-orange">
  <div class="image image-overlay image-zoom" style="background-image:linear-gradient( to right bottom,
          rgba(0, 0, 0, 0.3),
          #161c1d  ),url(../../assets/cooodit/cover-2.jpg)"></div>
          <div class="container">
            <div class="row justify-content-center">
              <div >
                <h2> <strong class="font-weight-bold text-white">CONDITIONS GÉNÉRALES DE VENTE</strong> </h2>
              </div>
            </div>    
    </section>
    <!-- / hero -->
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8"><br>
        <br>
        <h5>Objet et champ d’application</h5>
        <p class="lead text-justify">Suite à la commande d’une formation le Client accepte sans réserve les présentes conditions générales de vente qui prévalent sur tout autre document de l’acheteur, en particulier ses conditions générales d’achat.</p>
        <hr class="w-25">
        <h5>Services</h5>
        <p class="lead text-justify">Les prestations sont délivrées sous la forme de séances :</p>
            <ul>
              <li>D’ateliers hebdomadaires à l’année</li>
              <li>De stages & bootcamps</li>
              <li>D’ateliers découverte</li>

            </ul>
        <p class="lead text-justify">Dispensés dans les centres COOODIT, par des intervenants pédagogiques tout au long d’une saison décomptée demi-septembre d’une année à fin juin de l’année suivante</p>
        <p class="lead text-justify"><u>Ateliers hebdomadaires</u> : Les séances ont lieu sur une base hebdomadaire à raison de sessions de 1h30 par semaine et selon un calendrier fixé par COOODIT communiqué lors de l’inscription. COOODIT se réserve le droit d’annuler un atelier annuel si moins de 5 enfants y sont inscrits moyennant une information communiquée au client au moins 5 jours à l’avance. Les frais d’inscription seront alors intégralement remboursés.</p>
        <p class="lead text-justify"><u>Stages vacances & bootcamps</u> : Les stages et les bootcamps sont proposés durant les vacances scolaires et pour un volume horaire et une durée dépendant de leur contenu. COOODIT se réserve le droit d’annuler un stage si moins de 5 enfants y sont inscrits moyennant une information communiquée au client au moins 48H à l’avance. Les frais d’inscription seront alors intégralement remboursés.</p>
        <p class="lead text-justify"><u>Ateliers découverte</u>: les ateliers découverte sont proposés durant tout au long d’une saison décomptée demi-septembre d’une année à fin juin de l’année suivante. COOODIT se réserve le droit d’annuler un atelier découverte si moins de 5 enfants y sont inscrits moyennant une information communiquée au client au moins 24H à l’avance. L'atelier annulé est alors reporté à une date ultérieure choisie, si possible d’un commun accord entre les parties ; en cas d’impossibilité de report d’un atelier annulé du fait de COOODIT, le montant correspondant sera alors intégralement remboursé.</p>
        <hr class="w-25">
        <h5>Modalités d’inscription</h5>
        <p class="lead text-justify">Une pré-inscription à un de nos ateliers ou stages peut se faire directement notre sur site internet.Toute inscription ne devient définitive qu’après paiement effectué dans les conditions indiquées ci-dessous. </p>
        <hr class="w-25">
        <h5>Prix, facturation et règlement</h5>
        <p class="lead text-justify">Tous nos prix sont indiqués s’entendent toutes taxes comprises en euro tenant compte de la TVA au jour de l’inscription ; tout changement du taux pourra être répercuté sur le prix des services. Toute formation commencée est due en totalité. Sauf mention contraire, ils comprennent les frais de déplacement et de bouche du formateur. Les factures sont payables, sans escompte et à l’ordre de la société COOODIT à réception de facture.</p>
        <p class="lead text-justify">Bootcamps, stages vacances et ateliers découvertes :le paiement est réalisé sur plcae ou en ligne (bientôt) par carte bleue, chèque, chèques vacances ou espèces, en une fois. </p>
        <p class="lead text-justify">les ateliers hebdomadaires : le paiement s’effectue en ligne (bientôt), il est possible de régler la totalité du montant de l’atelier en 1 fois, 4 fois ou de régler en 10 fois. Des arrhes d’un montant de 15% sont prélevés au moment de l’inscription, ces arrhes garantissent la réservation d’une place en atelier. La saisie des coordonnées bancaires sur le site cooodit.fr déclenche automatiquement le prélèvement sur le compte bancaire relié à la carte bancaire utilisée. Chaque prélèvement est égal à un montant représentant 1/10 ou 1/4 du prix total de l’inscription. </p>
        <p class="lead text-justify">Il est également possible de régler par chèque en 1 à 3 fois ou en espèce directement sur place.</p>
        <hr class="w-25">
        <h5>Pénalités de retard</h5>
        <p class="lead text-justify">En cas de retard de paiement, seront exigibles, conformément à l’article L 441-6 du code de commerce, une indemnité calculée sur la base de trois fois le taux de l’intérêt légal en vigueur ainsi qu’une indemnité forfaitaire pour frais de recouvrement de 40 euros. Ces pénalités sont exigibles de plein droit, dès réception de l’avis informant le Client qu’elles ont été portées à son débit.</p>
        <hr class="w-25">
        <h5>Résiliation</h5>
        <u>Pour les stages, bootcamps et ateliers découverte</u>
        <p class="lead text-justify">Après le début d'un atelier découverte, bootcamp ou un stage vacances, aucune résiliation ne sera acceptée quel qu’en soit le motif.</p>
        <p class="lead text-justify">En cas de résiliation d’inscription avant le début du stage, toute annulation communiquée dans un délai supérieur à 10 jours calendaires avant le démarrage du stage sera intégralement remboursée. Le cas échéant, aucun remboursement ne sera effectué.</p>
        <u>Pour les ateliers hebdomadaires</u>
        <p class="lead text-justify">Pour une inscription annuelle (ateliers hebdomadaires), toute résiliation devra être notifiée par lettre recommandée avec accusé de réception à l’adresse suivante :</p>
        <p class="lead text-justify">COOODIT, 12-14 rue des Chauffours - 95000 Cergy</p>
        <p class="lead text-justify">Sous réserve du respect de cette procédure, toute résiliation d’inscription reçue avant la troisième séance , le cachet de la Poste faisant foi, fera l’objet d’un remboursement dans les 90 jours,déduction faite des arrhes et des séances dispensées qui resteront définitivement acquis à COOODIT </p>
        <hr class="w-25">
        <h5>Non sollicitation</h5>
        <p class="lead text-justify">Le client s’engage à ne pas solliciter directement ou indirectement la/le/les intervenants pédagogiques salariés de COOODIT et de recourir à leurs services pour toute autre mission que celle qui lui aura été confiée par COOODIT.</p>
        <hr class="w-25">
        <h5>Retard</h5>
        <p class="lead text-justify">En cas de retard répété, COOODIT se réserve le droit de facturer au client des frais de garde d’un montant forfaitaire de 10 euros TTC par tranche de 15 minutes, au cas où un intervenant sera obligé de garder un enfant au-delà de l’horaire de sa séance en raison du retard de la personne chargée de récupérer l’enfant, et ce quel que soit le motif du retard.

            Les parents, ou tout représentant légal, s’engagent sur la ponctualité pour déposer et récupérer les enfants aux horaires convenus.</p>
        <hr class="w-25">
        <h5>Comportement-Discipline</h5>
        <p class="lead text-justify">Dans le cas de comportements persistants d’un enfant portant atteinte de manière préjudiciable à la bonne conduite des ateliers, COOODIT, après un premier avertissement auprès des parents qui serait resté sans effet, se réservent le droit d’exclure l’enfant pour une période temporaire ou définitive. Le règlement de la prestation souscrite restera intégralement dû à COOODIT.</p>
        <hr class="w-25">
        <h5>Droit à l’image</h5>
        <p class="lead text-justify">COOODIT est autorisé, sauf décision contraire des parents, à photographier ou filmer les enfants lors des séances d’animation dans le cadre de leurs activités en groupe aux seules fins de diffusion sur les espaces internet de COOODIT ou dans les grands médias d’information. Tout refus ou limitation d’une telle diffusion devra être mentionné sur la fiche d’inscription.</p>
        <hr class="w-25">
        <h5>Assurance</h5>
        <p class="lead text-justify">COOODIT est régulièrement assuré au titre des prestations fournies en responsabilité civile professionnelle. Toutefois, COOODIT ne peut en aucun cas être tenu responsable de la perte, du vol et de la casse d’objets personnels appartenant aux enfants. Dans le cadre de leurs activités dans les centres, les familles s’engagent à souscrire une assurance responsabilité civile pour les enfants inscrits à COOODIT.</p>
        <hr class="w-25">
        <h5>Matériel – Propriété Intellectuelle</h5>
        <p class="lead text-justify">Tout matériel (livres, revues, matériel informatique…) mis à disposition et utilisé dans le cadre des prestations dispensées par COOODIT reste sa propriété exclusive. Les prestations sont délivrées sous des marques et un savoir-faire dont COOODIT détient régulièrement les droits d’utilisation. Tous les éléments relatifs au contenu des prestations et sur les espaces internet COOODIT sont et restent la propriété intellectuelle exclusive de son titulaire. Il est strictement interdit de reproduire, exploiter, rediffuser ou utiliser de quelque manière, à quelque titre et pour quelque raison que ce soient, même partiellement, ces éléments sous quelque langue, forme, support et format que ce soit, sans l’accord préalable et écrit de COOODIT.</p>
        <hr class="w-25">
        <h5>Données à caractère personnel</h5>
        <p class="lead text-justify">Conformément à la loi du 6 janvier 1978 le client dispose d’un droit d’accès, de modification, de rectification, d’opposition et de suppression des données nominatives le concernant exerçable auprès de COOODIT.</p>
        <hr class="w-25">
        <h5>Juridiction compétente</h5>
        <p class="lead text-justify">Les présentes conditions générales de vente sont soumises à l’application du droit français. Les informations contractuelles et les produits proposés à la vente sont conformes à la législation française. Tout litige provenant de l’application des présentes conditions générales de vente sera soumis aux juridictions compétentes.</p>
        <hr class="w-25">
      </div>
    </div>

    