<!-- hero -->
<section class="hero hero-with-header pattern bg-orange">
    <div class="image image-overlay image-zoom" style="background-image:linear-gradient( to right bottom,
            rgba(0, 0, 0, 0.3),
            #7f15db  )"></div>
        <div class="container ">
        
          <div class="row justify-content-center">
            <div class="col-md-8">
            
            </div>
          </div>
        </div>    
      </section>
      <!-- / hero -->
<!-- map -->
<section class="map">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="boxed p-5">
            <h2>Cergy</h2>
            <ul class="list-group list-group-line">
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-map-pin2 fs-24 text-blue"></i>
                <span>Prochainement l'ouverture de notre campus de Cergy</span>
              </li>
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-mail fs-24 text-blue"></i>
                <span>hello@cooodit.fr</span>
              </li>
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-phone2 fs-24 text-blue"></i>
                <span>0667682693</span>
              </li>
            </ul>
            
          </div>
        </div>
      <div class="col-lg-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2615.214268504787!2d2.0890752158926715!3d49.044549395534546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6f56ae598bc5f%3A0x38e9122faf7d76ac!2s4%20Avenue%20Berthelot%2C%2095300%20Pontoise!5e0!3m2!1sfr!2sfr!4v1574103559895!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
      </div>
    </div>
    <br>
    <br>
    <br>
</section>


   
  