<!-- hero -->
<section class="hero hero-with-header pattern bg-orange">
    <div class="image image-overlay image-zoom" style="background-image:linear-gradient( to right bottom,
            rgba(0, 0, 0, 0.3),
            #161c1d  ),url(../../assets/cooodit/cover-2.jpg)"></div>
            <div class="container">
              <div class="row justify-content-center">
                <div >
                  <h2> <strong class="font-weight-bold text-white">POLITIQUE COOKIES</strong> </h2>
                </div>
              </div>    
      </section>
      <!-- / hero -->
<section class="bg-light">
    <div class="container">
    <p class="text-justify" style="white-space:pre-wrap;">En visitant notre site Web et en utilisant nos services, vous comprenez et acceptez la façon dont nous traitons les données personnelles conformément à notre politique de confidentialité. Nous respectons votre vie privée et le droit de contrôler vos données personnelles. Nos principes directeurs sont simples. Nous allons être ouverts avec quelles données nous collectons et pourquoi. Veuillez prendre un moment pour les lire. C&apos;est important !</p>

    <p class="text-justify" style="white-space:pre-wrap;">Les cookies sont de petites quantités d’informations stockées dans des fichiers au sein même du navigateur de votre ordinateur. Les cookies sont accessibles et enregistrés par les sites internet que vous consultez, et par les sociétés qui affichent leurs annonces publicitaires sur des sites internet, pour qu’ils puissent reconnaître le navigateur. Les sites Internet peuvent uniquement accéder aux cookies qu’ils ont stockés sur votre ordinateur.</p>

    <p class="text-justify" style="white-space:pre-wrap;">En utilisant le Site Internet , vous consentez à l’utilisation des cookies déposés par notre Site.</p>

    <p class="text-justify" style="white-space:pre-wrap;"><strong>Le site Internet utilisent des cookies aux fins suivantes :</strong></p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;"><strong>- Usage du site :</strong> pour nous aider à reconnaître votre navigateur comme celui d’un visiteur précédent et pour enregistrer les préférences que vous avez déterminées lors de votre précédente visite sur le Site. Par exemple, nous pouvons enregistrer vos informations de connexion de sorte que vous n’ayez pas à vous connecter à chaque fois que vous visitez le Site ;</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;"><strong>- Réseaux sociaux :</strong> pour vérifier si vous êtes connectés à des services tiers (Facebook, Twitter, Google+…) ;</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;"><strong>- Ciblage :</strong> pour nous permettre de cibler (emailing, enrichissement de base) à postériori ou en temps réel l’internaute qui navigue sur notre Site ;</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;"><strong>- Mesure d’audience :</strong> pour suivre les données statistiques de fréquentation du Site (soit l’utilisation faite du Site par les utilisateurs et pour améliorer les services du Site) et pour nous aider à mesurer et étudier l’efficacité de notre contenu interactif en ligne, de ses caractéristiques, publicités et autres communications.</p>

    <p class="text-justify" style="white-space:pre-wrap;"><strong>Vos Choix Concernant les Cookies et Balises Web</strong></p>

    <p class="text-justify" style="white-space:pre-wrap;">Vous avez le choix de configurer votre navigateur pour accepter tous les cookies, rejeter tous les cookies, vous informer quand un cookie est émis, sa durée de validité et son contenu, ainsi que vous permettre de refuser son enregistrement dans votre terminal, et supprimer vos cookies périodiquement.</p>

    <p class="text-justify" style="white-space:pre-wrap;">Vous pouvez paramétrer votre navigateur Internet pour désactiver les cookies. Notez toutefois que si vous désactivez les cookies, votre nom d’utilisateur ainsi que votre mot de passe ne seront plus sauvegardés sur aucun site web. Pour plus d’informations relatives aux méthodes vous permettant de supprimer et de contrôler les cookies stockés sur votre ordinateur, consultez le site suivant : <a href="http://www.allaboutcookies.org/fr/" target="_blank" style="text-decoration:none; color:black;"><u>http://www.allaboutcookies.org/fr/</u></a></p>

    <p class="text-justify" style="white-space:pre-wrap;"><strong>Comment configurer votre navigateur</strong></p>

    <p class="text-justify" style="white-space:pre-wrap;"><strong>Firefox :</strong></p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">1. Ouvrez Firefox</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">2. Appuyez sur la touche « Alt »</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">3. Dans le menu en haut de la page cliquez sur « Outils » puis « Options »</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">4. Sélectionnez l’onglet « Vie privée »</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">5. Dans le menu déroulant à droite de « Règles de conservation », cliquez sur « utiliser les paramètres personnalisés pour l’historique »</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">6. Un peu plus bas, décochez « Accepter les cookies »</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">7. Sauvegardez vos préférences en cliquant sur « OK »</p>

    <p class="text-justify" style="white-space:pre-wrap;"><strong>Internet Explorer :</strong></p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">1. Ouvrez Internet Explorer</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">2. Dans le menu « Outils », sélectionnez « Options Internet »</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">3. Cliquez sur l’onglet « Confidentialité »</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">4. Cliquez sur « Avancé » et décochez « Accepter »</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">5. Sauvegardez vos préférences en cliquant sur « OK »</p>

    <p class="text-justify" style="white-space:pre-wrap;"><strong>Google Chrome :</strong></p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">1. Ouvrez Google Chrome</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">2. Cliquez sur l’icône d’outils dans la barre de menu</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">3. Sélectionnez « Options »</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">4. Cliquez sur l’onglet « Options avancées »</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">5. Dans le menu déroulant « Paramètres des cookies », sélectionnez « Bloquer tous les cookies »</p>

    <p class="text-justify" style="white-space:pre-wrap;"><strong>Safari :</strong></p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">1. Ouvrez Safari</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">2. Dans la barre de menu en haut, cliquez sur « Safari », puis « Préférences »</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">3. Sélectionnez l’icône « Sécurité »</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">4. À côté de « Accepter les cookies », cochez « Jamais »</p>

    <p class="text-justify" style="white-space:pre-wrap;margin-left:5%;">5. Si vous souhaitez voir les cookies qui sont déjà sauvegardés sur votre ordinateur, cliquez sur « Afficher les cookies »</p>
    </div>
</section>