<!-- hero -->
<section class="hero hero-with-header pattern bg-orange">
  <div class="image image-overlay image-zoom" style="background-image:linear-gradient( to right bottom,
          rgba(0, 0, 0, 0.3),
          #161c1d  ),url(../../assets/cooodit/cover-2.jpg)"></div>
      <div class="container ">
      
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h1 class="text-decorated text-white"> <b class="text-"> FOIRE AUX QUESTIONS</b></h1>
            <p class="text-white"> Tu te poses sans doute de nombreuses questions à propos de Cooodit et de nos ateliers. Nous avons compilé les réponses aux questions les plus courantes ci-dessous. Si tu ne trouves pas la réponse que tu cherches, <strong>n'hésite pas à contacter l'équipe</strong> par email <span class="text-yellow">hello@cooodit.fr</span>.</p>
            
          </div>
        </div>
      </div>    
    </section>
    <!-- / hero -->

<!-- faq -->
<section class="bg-light">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-6">
        <div class="accordion-group accordion-group-minimal" data-accordion-group>
          <div class="accordion" data-accordion data-aos="fade-up">
            <div class="accordion-control " data-control>
              <h5> Quel type de connaissances les enfants peuvent-ils obtenir chez Cooodit ?</h5>
            </div>
            <div class="accordion-content" data-content>
              <div class="accordion-content-wrapper">
                <p class="text-justify">Nos étudiants apprennent la pensée algorithmique, qui est une connaissance très précieuse, même si pas tous deviendront des programmeurs. Sur la base de cette connaissance, pendant que les enfants apprennent en jouant, nous leur apprenons de nouveaux langages de programmation et technologies en fonction de leur âge et de leur niveau de compétences.</p>
              </div>
            </div>
          </div>
          <div class="accordion" data-accordion data-aos="fade-up">
            <div class="accordion-control" data-control>
              <h5>Y a-t-il des compétences ou des connaissances requises pour postuler ?</h5>
            </div>
            <div class="accordion-content" data-content>
              <div class="accordion-content-wrapper">
                <p  class="text-justify">Aucune formation préliminaire, connaissances mathématiques ou informatiques exceptionnelles n'est requise. N'importe qui peut programmer, il vaut la peine de lui donner un essai !</p>
              </div>
            </div>
          </div>
          <div class="accordion" data-accordion data-aos="fade-up">
            <div class="accordion-control" data-control>
              <h5>Proposez-vous des ateliers anniversaire ?</h5>
            </div>
            <div class="accordion-content" data-content>
              <div class="accordion-content-wrapper">
                <p class="text-justify">Oui ! c'est possible, contactez nous directement en cliquant <a href="https://cooodit.typeform.com/to/DBPD25" class="text-pink bg-yellow2">ICI</a></p>
              </div>
            </div>
          </div>
          <div class="accordion" data-accordion data-aos="fade-up">
            <div class="accordion-control" data-control>
              <h5>Puis-je payer en plusieurs fois ?</h5>
            </div>
            <div class="accordion-content" data-content>
              <div class="accordion-content-wrapper">
                <p class="text-justify">Vous pouvez régler vos inscriptions en 1 fois, 3 fois ou 5 fois uniquement pour les ateliers hebdomadaires.</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-lg-6">
        <div class="accordion-group accordion-group-minimal" data-accordion-group>
          <div class="accordion" data-accordion data-aos="fade-up">
            <div class="accordion-control" data-control>
              <h5> À quel âge puis-je commencer à programmer? Quand est-ce que je peux commencer à fréquenter Cooodit?</h5>
            </div>
            <div class="accordion-content" data-content>
              <div class="accordion-content-wrapper">
                <p class="text-justify">Nos plus jeunes participants ont 7 ans, mais tu peux commencer à programmer à tout âge, il n'est jamais trop tard </p>
              </div>
            </div>
          </div>
          <div class="accordion" data-accordion data-aos="fade-up">
            <div class="accordion-control" data-control>
              <h5>Y a-t-il des devoirs à la maison ? Des notes ?</h5>
            </div>
            <div class="accordion-content" data-content>
              <div class="accordion-content-wrapper">
                <p class="text-justify">Non ! nous n'imposons pas de travail personnel en dehors des ateliers. Néanmoins, il est tout à fait possible de continuer leur apprentissage à la maison</p>
              </div>
            </div>
          </div>
          <div class="accordion" data-accordion data-aos="fade-up">
            <div class="accordion-control" data-control>
              <h5>Comment se déroule un atelier ?</h5>
            </div>
            <div class="accordion-content" data-content>
              <div class="accordion-content-wrapper">
                <p class="text-justify"> Tous nos ateliers et stages réunissent 4 à 10 enfants d'une même tranche d'âge et d'un niveau équivalent, sur un cursus donné. Exceptionnellement, nous pouvons êtres amenés à mixer des classes d'âge pour éviter d'annuler des créneaux faiblement remplis, toujours après évaluation du profil des enfants concernés par nos responsables pédagogiques.</p>
              </div>
            </div>
          </div>
          <div class="accordion" data-accordion data-aos="fade-up">
            <div class="accordion-control" data-control>
              <h5>Comment peut-on vous régler ?</h5>
            </div>
            <div class="accordion-content" data-content>
              <div class="accordion-content-wrapper">
                <p class="text-justify">En ligne ou sur place : par carte bleue, chèque, chèques vacances ANCV ou espèces.</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="text-white separator-top pt-5 mt-5 pt-md-10 mt-md-10">
    <div class="container">
      <div class="row justify-content-center bg-yellow2">
        <div class="col-md-10 col-lg-8 text-center">
          <p class="lead"><span class="text-dark"> LA FAQ NE T’A PAS DONNÉ DE REPONSE ? <a href="https://cooodit.typeform.com/to/DBPD25" class="ml-2 px-4 btn btn-rounded bg-cooodit text-white btn-white"> CONTACTE-NOUS</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / faq -->