<!-- hero -->
<section class="hero hero-with-header ">
<div class="image image-overlay image-zoom" style="background-image:linear-gradient( to right bottom,
        rgba(0, 0, 0, 0.3),
        #161c1d  ),url(../../assets/cooodit/cover-2.jpg)"></div>
    <div class="container ">
    
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-decorated text-white"> Nos ateliers<b class="text-"> hebdomadaires </b></h1>
          <p class="text-white text-justify"> Nous proposons 5 ateliers hebdomadaires adaptés à l’âge et au niveau de chaque participant, 1h30 d’atelier par semaine, du lundi au vendredi, de janvier à juin. </p>
          
        </div>
      </div>
    </div>    
  </section>
  <!-- / hero -->
  <!-- partners -->
  <br>
    <div class="container">
      <div class="row">
        <div class="col partners align-items-center">
          <div class="owl-carousel" data-items="[6,4,2]" data-loop="true" data-autoplay="true">
            <div class="logo">
              <img src="../../assets/cooodit/logo-1.png" alt="Logo">
            </div>
            <div class="logo">
              <img src="../../assets/cooodit/logo-2.png" alt="Logo">
            </div>
            <div class="logo">
              <img src="../../assets/cooodit/logo-3.png" alt="Logo">
            </div>
            <div class="logo">
              <img src="../../assets/cooodit/logo-4.png" alt="Logo">
            </div>
            <div class="logo">
              <img src="../../assets/cooodit/logo-5.png" alt="Logo">
            </div>
            <div class="logo">
              <img src="../../assets/cooodit/logo-6.svg" alt="Logo">
            </div>
            <div class="logo">
              <img src="../../assets/cooodit/logo-7.png" alt="Logo">
            </div>
            <div class="logo">
              <img src="../../assets/cooodit/logo-8.png" alt="Logo">
            </div>
            <div class="logo">
              <img src="../../assets/cooodit/logo-9.png" alt="Logo">
            </div>
          </div>
        </div>
      </div>
    </div>
  <br>
  <!-- / partners -->
  <!-- facility -->
 
    <div class="container">
      <div class="row justify-content-left">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <span class="eyebrow text-green mb-2">Features</span>
              <p class="lead text-justify text-black">Par groupe de 12 enfants maximum, nos animateurs guident pas-à-pas les enfants à travers la réalisation de plusieurs projets. Tout le matériel est fourni, rien besoin  d’apporter à part votre bonne humeur et votre enthousiasme ! Tous les logiciels que nous utilisons sont gratuits, compatibles Windows, iOS, Linux, afin qu’ils puissent poursuivre l’expérience à la maison !.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <ul class="feature-list gutter-2">
              <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                  <div class="media bordered rounded p-1 align-items-center">
                    <i class="icon-map-pin2 fs-24 text-green mr-2"></i>
                    <div class="media-body">
                      <span>Campus Pontoise</span>
                    </div>
                  </div>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                  <div class="media bordered rounded p-1 align-items-center">
                    <i class="icon-users2 fs-24 text-green mr-2"></i>
                    <div class="media-body">
                      <span>10 éleves</span>
                    </div>
                  </div>
                </li>
                <li data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                  <div class="media bordered rounded p-1 align-items-center">
                    <i class="icon-clock fs-24 text-green mr-2"></i>
                    <div class="media-body">
                      <span>Mercredi 15h45 - 17h15</span>
                    </div>
                  </div>
                </li>
               
              </ul>
              <br><br>
              <span class="eyebrow text-green mb-2">Features</span>
              <p class="lead text-black text-justify"> <mark>👩‍💻 Programmation</mark>
              Initiation au code informatique à l'aide de Scratch et Minecraft. Réalisation de plusieurs animations. Création d'application mobile Android sous AppInventor.</p>
              <p class="lead text-black text-justify"><mark>⚡Électronique</mark>
              Apprenez à programmer votre microcontrôleur grace à la carte Arduino.</p>
              <p class="lead text-black text-justify"><mark>🖼 Graphisme</mark>
              Modelisation des dessins graphique 3D avec le logiciels 3dSlash.</p>
              <p class="lead text-black text-justify"><mark>🎮 Jeu vidéo</mark>
              Création d'un jeu vidéo en 2D avec Construct 2.</p>
              <p class="lead text-black"></p>
            </div>
            <div class="col-md-4 boxed long bg-yellow2">
    
            <ul class="list-group list-group-line">
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-briefcase2 fs-24 text-orange"></i>
                <span>Type d'atelier : hebdomadaire.</span>
                
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-book2 fs-24 text-orange"></i>
                <span>Classes : 6E, 5E </span>
              </li>
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-check-circle2 fs-24 text-orange"></i>
                <span>Session : du 22 janvier au 24 juin</span>
              </li>
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-book2 fs-24 text-orange"></i>
                <span>Tarif : 250 € / session</span>
              </li>
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-book2 fs-24 text-orange"></i>
                <span>Horaires : Mercredi 15h45 - 17h15. </span>
              </li>
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-check-circle2 fs-24 text-orange"></i>
                <span>Lieu : campus de Pontoise</span>
              </li>
              
              <li class="list-group-item d-flex align-items-center">
                <i class="icon-check-circle2 fs-24 text-orange"></i>
                <span>Fast check-in included</span>
              </li>
            </ul>
            <div class="text-center">
            <button type="button" class="btn btn-with-ico btn-orange text-white mt-3 ">j'inscris mon enfant <i class="icon-arrow-right2 fs-20"></i></button>
            </div>
            <br>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- / facility -->


  <!-- schedule -->
  <section >
    <div class="container bg-dark text-white">
    
      <div class="row" data-aos="fade-up">
        <div class="col col-md-6">
        <br><br>
          <h6 class="text-decorated text-decorated-padding text-uppercase font-weight-bold">Planning des ateliers hebdomadaires</h6>
        </div>
       
      </div>
      <div class="row">
        <div class="col">
          <div class="table-responsive-md">
            <table class="table table-bordered" data-aos="fade-up">
              <thead>
                <tr>
                  <th scope="col">Heure</th>
                  <th scope="col">Lundi</th>
                  <th scope="col">Mardi</th>
                  <th scope="col">Mercredi</th>
                  <th scope="col">Jeudi</th>
                  <th scope="col">Vendredi</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">14:00 - 15:30</th>
                  <td></td>
                  <td></td>
                  <td class="highlight">
                    <ul class="list-group list-group-minimal">
                      <li class="list-group-item">CE2 / CE1</li>
                      <li class="list-group-item">CM2 / CM1</li>
                    </ul>
                  </td>
                  <td></td>
                  <td></td>
                  
                  
                </tr>
                <tr>
                  <th scope="row">15:45 - 17:15</th>
                  <td></td>
                  <td></td>
                  <td class="highlight">
                    <ul class="list-group list-group-minimal">
                      <li class="list-group-item">6E / 5E</li>
                      
                    </ul>
                  </td>
                  <td></td>
                  <td></td>
                  
                  
                </tr>
                <tr>
                  <th scope="row">18:00 - 19:30</th>
                  <td class="highlight">
                    <ul class="list-group list-group-minimal">
                      <li class="list-group-item">Cooodit Talks</li>
                    </ul>
                  </td>
                  <td class="highlight">
                    <ul class="list-group list-group-minimal">
                      <li class="list-group-item">2nd - 1er</li>
                      <li class="list-group-item">Terminale</li>
                    </ul>
                  </td>
                  <td class="highlight">
                    <ul class="list-group list-group-minimal">
                      <li class="list-group-item">4E / 3E</li>
                    </ul>
                  </td>
                  <td class="highlight">
                    <ul class="list-group list-group-minimal">
                      <li class="list-group-item">intelligence artificielle </li>
                      <li class="list-group-item">Lycéens </li>
                      
                    </ul>
                  </td>
                  <td class="highlight">
                    <ul class="list-group list-group-minimal">
                      <li class="list-group-item">4E / 3E</li>
                      <li class="list-group-item">6E / 5E</li>
                    </ul>
                  </td>
                 
                </tr>
                
            
              </tbody>
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / schedule -->

  <!-- cta -->

    <div class="container">
      <div class="boxed bg-cooodit p-5 text-white " data-aos="zoom-in">
        <div class="row justify-content-between align-items-center text-center text-md-left">
          <div class="col-md-3">
            <h4 ><strong>Stages de Noël</strong> </h4>
          </div>
          <div class="col-md-6 text-center ">
            <h4><small class="text-white">Du lundi 23 décembre au 03 Janvier</small> </h4>
          </div>
          <div class="col-md-3 text-md-right mt-2 mt-md-0">
            <a href="" class="btn btn-white btn-rounded px-1">J'inscris mon enfant</a>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  <!-- / cta -->