<!-- hero -->
<section class="hero hero-with-header pattern bg-orange">
    <div class="image image-overlay image-zoom" style="background-image:linear-gradient( to right bottom,
            rgba(0, 0, 0, 0.3),
            #161c1d  ),url(../../assets/cooodit/cover-2.jpg)"></div>
            <div class="container">
              <div class="row justify-content-center">
                <div >
                  <h2> <strong class="font-weight-bold text-white">MENTIONS LÉGALES</strong> </h2>
                </div>
              </div>    
      </section>
      <!-- / hero -->
<div class="row justify-content-center">
  <div class="col-md-10 col-lg-8"><br>
  <h5></h5>
  <p class="text-justify">Ce site web collecte des données personnelles de ses utilisateurs.</p>
  <hr class="w-25">
  <h5></h5>
  <p class="text-justify">Conformément aux dispositions des articles 6-III et 19 de la loi pour la Confiance dans l’Economie Numérique, nous vous informons que l’éditeur du Site est :</p>
  <p class="text-justify"><strong>COOODIT</strong>, SASU au capital de 1 000€, dont le siège social est situé au 12-14 rue des Chauffours, 95000 Cergy (France), immatriculée au RCS sous le numéro 850 522 772 R.C.S. PONTOISE.</p>
  <p class="text-justify"><strong>Le directeur de publication</strong> du Site est Azzedine MENGUIT, CEO de COOODIT. Pour le contacter :hello@cooodit.fr || 12-14 rue des Chauffours - 95000 Cergy</p>
  <p class="text-justify"><strong>Le responsable éditorial</strong> du Site est Azzedine MENGUIT, CEO de COOODIT. Pour le contacter :hello@cooodit.fr || 12-14 rue des Chauffours - 95000 Cergy</p>
  <p class="text-justify"><strong>Le site est hébergé par la société</strong> : HEROKU – The Landmark @ 1 Market St. Suite 300 San Francisco, CA 9410</p>
    <br>
    <br>
  </div>
</div>