<!-- hero -->
<section class="hero hero-with-header pattern bg-orange">
  <div class="image image-overlay image-zoom" style="background-image:linear-gradient( to right bottom,
          rgba(0, 0, 0, 0.3),
          #161c1d  ),url(../../assets/cooodit/cover-2.jpg)"></div>
      <div class="container ">
      
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h1 class="text-decorated text-white"> NOS <b > PROGRAMMES</b></h1>
            <p class="text-white">Nous proposons 3 types d'ateliers permettant à vos enfants d'acquérir des compétences rares quelque soit leurs niveau initial..</p>
          </div>
        </div>
      </div>    
    </section>
    <!-- / hero -->


<!-- pricing -->
<section class="bg-light pt-0 pattern"> <br><br>
  <div class="container">
    <div class="tab-content" id="component-1">
      <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
        <div class="row gutter-2">
          <div class="col-md-6 col-lg-4" >
            <div class="card card-price rising">
                
              <div class="card-body">
               
                <h5 class="card-title text-center"> <strong>Ateliers Découverte</strong></h5> <br>
                <ul class="list-group list-group-minimal text-muted">
                 
                  <li class="list-group-item text-center">un atelier de 1h30 récurrent et <mark>ouverts à tous les enfants</mark> qui permet de s'initier à la programmation et au développement de jeux</li><br><br><br>
                  <li class="list-group-item text-center"><i class="far fa-calendar-check text-teal"></i> <small>Inscription ouverte toute l'année. </small></li>
                </ul>
              </div>
              
              <a href="<%=deco_path%>" class="card-footer bg-pink">
                  <strong class="text-white">EN SAVOIR PLUS</strong>
                </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card card-price rising">
                
              <div class="card-body">
               
                <h5 class="card-title text-center"><strong>Ateliers Hebdomadaires</strong></h5><br>
                <ul class="list-group list-group-minimal text-muted">
                  <li class="list-group-item text-center"> <mark>1h30 d’atelier par semaine pendant la période scolaire</mark>, du lundi au samedi.de septembre à juin, de 7 à 18 ans.</li> <br><br><br><br>
                  <li class="list-group-item text-center"><i class="far fa-calendar-check text-teal"></i>  <small>Inscription ouverte jusqu’au 31 décembre 2019</small>.</li>
                  
                </ul>
              </div>
              
            
              <a href="<%=hebdo_path%>" class="card-footer bg-teal">
                  <strong class="text-white">EN SAVOIR PLUS</strong>
                </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="card card-price rising">
                
              <div class="card-body">
               
                <h5 class="card-title text-center"><strong>Bootcamps & Stages</strong></h5><br>
                <ul class="list-group list-group-minimal text-muted">
                  <li class="list-group-item text-center">Pendant les vacances scolaires, <mark>vos enfants réalisent un projet de leurs choix durant une semaine</mark>, les stages sont l'occasion de découvrir ou de se perfectionner autour d'un projet numérique passionnant.</li><br>
                  <li class="list-group-item text-center"><i class="far fa-calendar-check text-teal"></i> <small>Inscription ouverte toute l'année.</small>  </li>
                </ul>
              </div>
              
              <a href="<%=bootcamp_path%>" class="card-footer bg-yellow">
                  <strong class="text-white">EN SAVOIR PLUS</strong>
                </a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-white separator-top pt-5 mt-5 pt-md-10 mt-md-10">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 text-center">
          <p class="lead"><span class="text-white"> <a href="https://cooodit.typeform.com/to/DBPD25" class="ml-2 px-4 btn btn-rounded bg-cooodit text-white btn-white"> NOUS CONTACTER</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / pricing -->

