<!-- hero -->
<section class="hero hero-with-header pattern bg-orange">
  <div class="image image-overlay image-zoom" style="background-image:linear-gradient( to right bottom,
          rgba(0, 0, 0, 0.3),
          #161c1d  ),url(../../assets/cooodit/cover-2.jpg)"></div>
      <div class="container ">
      
        <div class="row justify-content-center">
          <div class="col-md-8">
            <h1 class="text-decorated text-white"> <b class="text-"> RECRUTEMENT</b></h1>
            <p class="text-white"> Pour postuler aux annonces ci-dessous, vous devrez nous faire parvenir votre CV et lettre de motivation par email à <span class="text-yellow">hello@cooodit.fr</span>.</p>
            <!--<p class="text-white"> Tu te poses sans doute de nombreuses questions à propos de Cooodit et de nos ateliers. Si tu ne trouves pas la réponse que tu cherches, <strong>n'hésite pas à contacter l'équipe</strong> par email <span class="text-yellow">hello@cooodit.fr</span>.</p>-->
            
          </div>
        </div>
      </div>    
    </section>
    <!-- / hero -->

<!-- merci -->

  <section class="bg-light">
  <div id="recrut">

    <center><h1 style="padding-bottom:25px;"><b>Annonces de recrutements</b></h1></center>
    <div class="container">
    <div class="indeedjobs-widget" data-id="4bc75149b7d13b3f1f70" data-theme="light" data-height="320"></div> 
    <script> 
    (function(d, id) { 
      if (d.getElementById(id)) return; 
      var js = d.createElement('script'); 
      js.id = id; js.src = 'https://www.indeedjobs.com/widget.js'; 
      d.head.appendChild(js); })
      (document, 'indeedjobs-js'); 
    </script>

    <div id="back_home">
    <center><a href="<%=root_path%>" style="text-decoration:none;"/><button class="btn btn-primary btn-lg">Retourner à la page d&apos;accueil</button></a></center>
    </div>
    </div>
  
  </div>
  </section>

  

<!--/ merci -->