<div id="popUp">
    <div id="close" class="close" onclick="closeNotif()"><i class="fa fa-times"></i></div>
    <!--<div id="new"><span>NEW!</span></div>-->
    <h2 style="font-size:15px;">Besoin d&apos;aide pour choisir le meilleur atelier pour votre enfant ? Laissez votre e-mail ci-dessous et nous vous contacterons rapidement.</h2>
    
    <div>
      <label for="email" style="padding-left: 35px;">E-mail</label>
      <center /><input type="email" class="form-control" id="email" name="email" placeholder="votre_email@mail.com" required/><br>
      <center><button class="btn btn-primary">Envoyer</button></center>
    </div>
  </div>
  <!--<div id="plus" onclick="openNotif()"><span>&nbsp;&nbsp;<i class="fa fa-plus"></i></span></div>-->